[autotune_tmc stepper_x]
motor: fysetc-17HS19-2004S-C
sg4_thrs: 109
tuning_goal: performance
# Low 50
# High 169

[autotune_tmc stepper_y]
motor: fysetc-17HS19-2004S-C
sg4_thrs: 111
tuning_goal: performance
# Low 60
# High 163

[autotune_tmc extruder]
motor: ldo-36sth20-1004ahg

[autotune_tmc stepper_z]
motor: fysetc-17HS19-2004S-C
tuning_goal: silent

[autotune_tmc stepper_z1]
motor: fysetc-17HS19-2004S-C
tuning_goal: silent

[autotune_tmc stepper_z2]
motor: fysetc-17HS19-2004S-C
tuning_goal: silent

[autotune_tmc stepper_z3]
motor: fysetc-17HS19-2004S-C
tuning_goal: silent
